{% extends 'base.html' %} {% block content %} {% load static %}

<!-- breadcrumb start -->
<!-- <div class="breadcrumb-area bg-overlay" style="background-image:url(' {% static 'assets/img/bg/3.png' %} ')">
        <div class="container">
            <div class="breadcrumb-inner">
                <div class="section-title mb-0 text-center">
                    <h2 class="page-title">Courses Single</h2>
                    <ul class="page-list">
                        <li><a href=" {% static 'index.html' %} ">Home</a></li>
                        <li>Courses Single</li>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->
<!-- breadcrumb end -->

<!-- course-single area start -->
<div class="course-single-area pd-top-120 pd-bottom-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <div class="course-course-detaila-inner">
          <div class="details-inner"></div>
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/inline-images/img2014926_13270.jpg"
              alt="img"
            />
          </div>
          <div class="course-details-nav-tab text-center">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              {% for i in data %}
              <li class="nav-item">
                <!-- active -->
                <a
                  class="nav-link"
                  id="tab{{ i.id }}-tab"
                  data-toggle="tab"
                  href="#tab{{ i.id }}"
                  role="tab"
                  aria-controls="tab{{ i.id }}"
                  aria-selected="true"
                  >{{ i.tab_title }}</a
                >
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="tab-content" id="myTabContent">
            {% for i in data %}
            <div
              class="tab-pane fade show active"
              id="tab{{ i.id }}"
              role="tabpanel"
              aria-labelledby="tab{{ i.id }}-tab"
            >
              <div class="course-details-content">
                <div class="page-content">{{ i.tab_info|safe}}</div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- course-single area end -->
{% endblock content %}
