{% extends 'base.html' %} {% block content %} {% load static %}

<!-- blog area start -->
<div class="blog-area pd-top-120 pd-bottom-120">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="td-sidebar">
          <div class="widget widget-recent-post">
            <!-- <h4 class="widget-title">Recent News</h4> -->
            <ul>
              {% for i in data %}
              <li>
                <div class="media">
                  <div class="media-body align-self-center">
                    <h5 class="title">
                      <a href=" {% static 'single-blog.html' %} "
                        >{{ i.title}}</a
                      >
                    </h5>
                    <div class="post-info">
                      <i class="fa fa-calendar"></i><span>{{ i.date_published|date }}</span>
                    </div>
                  </div>
                </div>
              </li>
              {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- blog area end -->
{% endblock content %}
