{% extends 'base.html' %} {% block content %} {% load static %}

<!-- team area start -->
<div class="team-area pd-top-120 pd-bottom-90">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-7">
        <div class="section-title text-center">
          <h6 class="sub-title double-line">COHORT TWO SCHOLARS</h6>
          <h3 class="title">2015/2016 Academic Year</h3>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      {% for i in data %}
      <div class="col-lg-4 col-md-6">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="{{ i.cohort.img.url }}"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">{{ i.cohort.name }}</a></h4>
            <span>Programme: {{ i.cohort.programme }}</span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- team area end -->
{% endblock content %}
