{% extends 'base.html' %} {% block content %} {% load static %}

<!-- event area start -->
<div class="event-area pd-top-120 pd-bottom-120">
  <div class="container">
    <div class="row">
      {% for i in data %}
      <div class="col-lg-6">
        <div class="media single-event-inner">
          <div class="media-left date">
            <span style="text-transform: uppercase"
              >{{ i.date_posted|date:"b" }}</span
            ><br />
            {{ i.date_posted.day }}
          </div>
          <div class="media-body details">
            <ul class="blog-meta">
              <li>
                <i class="fa fa-clock-o"></i> {{ i.date_posted.time }}
              </li>
              <li><i class="fa fa-map-marker"></i> {{ i.location }}</li>
            </ul>
            <h5>
              <a href="#">{{ i.title }}</a>
              <!-- <a href=" {% static 'event-details.html' %} ">{{ i.title }}</a> -->
            </h5>
          </div>
        </div>
      </div>
      {% endfor %}

      <div class="col-12">
        <nav class="td-page-navigation text-center">
          <ul class="pagination">
            <li class="pagination-arrow">
              <a href="#"><i class="fa fa-angle-double-left"></i></a>
            </li>
            <li><a href="#">1</a></li>
            <li><a class="active" href="#">2</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#">3</a></li>
            <li class="pagination-arrow">
              <a href="#"><i class="fa fa-angle-double-right"></i></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- event area end -->
{% endblock content %}
