{% extends 'base.html' %} {% block content %} {% load static %}

<!-- banner start -->
<div class="banner-area banner-area-1 bg-gray">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-8 order-lg-12 align-self-center">
        <div class="thumb b-animate-thumb">
          <img src=" {% static 'assets/img/banner/1.png' %} " alt="img" />
        </div>
      </div>
      <div class="col-lg-7 order-lg-1 align-self-center">
        <div class="banner-inner text-center text-lg-left mt-5 mt-lg-0">
          {{ data.motto|safe }}
          <h1 class="b-animate-2 title">
            Mastercard Foundation Scholarship 2022
          </h1>
          <a
            class="btn btn-base b-animate-3 mr-sm-3 mr-2"
            href=" {% url 'apply' %} "
            >Apply Now!</a
          >
          <a
            class="btn btn-border-black b-animate-3"
            href=" {% url 'register' %}  "
            >Read More</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- banner end -->

<!-- intro area start -->
<div class="intro-area intro-area--top">
  <div class="container">
    <div class="intro-area-inner bg-black">
      <div class="row no-gutters">
        <div class="col-lg-4 text-lg-left text-center">
          <div class="intro-title">
            {{ data.about_program_col1|safe }}
          </div>
        </div>
        <div class="col-lg-8 align-self-center">
          <ul class="row no-gutters">
            <li class="col-md-4">
              <div class="single-intro-inner style-white text-center">
                <div class="thumb">
                  <img
                    src=" {% static 'assets/img/intro/1.png' %} "
                    alt="img"
                  />
                </div>
                <div class="details">
                  {{ data.about_program_col2|safe }}
                </div>
              </div>
            </li>
            <li class="col-md-4">
              <div class="single-intro-inner style-white text-center">
                <div class="thumb">
                  <img
                    src=" {% static 'assets/img/intro/2.png' %} "
                    alt="img"
                  />
                </div>
                <div class="details">
                  {{ data.about_program_col3|safe }}
                </div>
              </div>
            </li>
            <li class="col-md-4">
              <div class="single-intro-inner style-white text-center">
                <div class="thumb">
                  <img
                    src=" {% static 'assets/img/intro/3.png' %} "
                    alt="img"
                  />
                </div>
                <div class="details">
                  {{ data.about_program_col4|safe }}
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- intro area end -->

<!-- about area start -->
<div class="about-area pd-top-140">
  <div class="container">
    <div class="about-area-inner">
      <div class="row">
        <div class="col-lg-6">
          <div
            class="about-thumb-wrap left-icon"
            style="
              background-image: url('https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/inline-images/scholarimg.jpg');
            "
          >
            <div class="about-icon">
              <img src=" {% static 'assets/img/icon/4.png' %} " alt="img" />
            </div>
            <div class="bottom-content">
              <div class="section-title mb-0">
                <h5 class="title">ELIGIBILITY</h5>
                <p class="content">
                  What you need to know before you apply for the Scholarship
                  Program
                </p>
                <a
                  href="{% url 'register' %} "
                  class="btn-counter bg-base mt-3"
                >
                  <div class="right-val align-self-center">Read More</div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about-inner-wrap pl-xl-4 pt-5 pt-lg-0 mt-5 mt-lg-0">
            <div class="section-title mb-0">
              <h6 class="sub-title right-line">ABOUT US</h6>
              <h2 class="title">OUR SCHOLARS</h2>
              <p class="content">
                {{ data.our_scholars }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- work area start -->
<div class="work-area pd-top-110">
  <div class="container">
    <div class="section-title">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <h6 class="sub-title right-line">What we do</h6>
          <h2 class="title">How it works?</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <iframe
        width="1080"
        height="540"
        src="{{ data.how_it_works_url }}" 
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
<!-- work area end -->

<!-- testimonial area start -->
<div class="testimonial-area pd-top-100">
  <div class="container">
    <div
      class="testimonial-area-inner bg-cover"
      style="background-image: url(' {% static 'assets/img/other/2.png' %} ')"
    >
      <!-- <img class="testimonial-right-img" src=" {% static 'assets/img/other/3.png' %} " alt="img"> -->

      <div class="item">
        <div class="single-testimonial-inner style-white">
          <span class="testimonial-quote"
            ><i class="fa fa-quote-left"></i
          ></span>
          <h3 style="color: #fff">Announcement</h3>
          <p class="mb-4">
            {{ data.announcements }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- testimonial area end -->

<!-- team area start -->
<div class="team-area pd-top-110">
  <div class="container-fluid pl-4 pr-4">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-7">
        <div class="section-title text-center">
          <h6 class="sub-title double-line">Meet Our Team</h6>
          <h2 class="title">Our Creative Team</h2>
        </div>
      </div>
    </div>
    <div class="team-slider owl-carousel">
      <div class="item">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/2021-06/Ms%20Afia%20Ampomah%20Awuah.jpg"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Ms Afia Ampomah Awuah</a></h4>
            <span>Program Manager</span>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/2021-07/SAMUEL%20NASH.jpg"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Samuel Nash</a></h4>
            <span>Recruitment/Operations</span>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/2021-06/Rev%20Fr%20Dr%20Stephen%20Jantuah.jpg"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Rev Fr Dr Stephen Jantuah</a></h4>
            <span>Counselling</span>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/2021-07/ISAAC%20MARFO%201.jpg"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Isaac Marfo</a></h4>
            <span>Communication and Branding</span>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/2021-06/Daniel%20Quansah%20Bassaw.jpg"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Daniel Quansah Bassaw</a></h4>
            <span>Accommodation, Travels & ICT Support</span>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/2018-11/Claudia%20Owusu-Ansah.jpg"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">None</a></h4>
            <span>Scholars Support Services</span>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/2021-06/MR%20Patrick%20Opoku%20Onyina_0.jpg"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Mr Patrick Opoku Onyina</a></h4>
            <span>Community Engagement and Mentorship</span>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/2021-06/Oppong%20Kyekyeku%20Appiah.jpg"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Oppong Kyekyeku Appiah</a></h4>
            <span>Monitoring and Evaluation</span>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/2021-06/Abigail%20Monney.jpg"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Abigail Monney</a></h4>
            <span>Counselling</span>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/2021-06/Harriet%20Afriyie-Adjimi.jpg"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Harriet Afriyie-Adjimi</a></h4>
            <span>Counselling</span>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/2021-06/Peter%20Kwabena%20Essien.jpg"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Peter Kwabena Essien</a></h4>
            <span>Career Development</span>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/2021-06/Mathel%20Kwantwiwaa%20Adusei.jpg"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Mathel Kwantwiwaa Adusei</a></h4>
            <span>Career Development</span>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/2021-06/Michael%20Kumah.jpg"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Michael Kumah</a></h4>
            <span>Scholars Support Services</span>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/2021-06/Agbasah%20Michael.jpg"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Agbasah Michael</a></h4>
            <span>Counselling</span>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/2021-06/Priscilla%20Kafui%20Asamoah.jpg"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Priscilla Kafui Asamoah</a></h4>
            <span>Counselling</span>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/2021-06/Bernard%20Owusu%20Ansah%20Agyekum.jpg"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Bernard Owusu Ansah Agyekum</a></h4>
            <span>Accommodation, Travels & ICT Support</span>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/2021-06/Ms%20Veronica%20Akyia%20Dochie.jpg"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Ms Veronica Akyiaa Dochie</a></h4>
            <span>Communication and Branding</span>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/2021-06/Mr%20Fidelis%20N%20K%20Yiryuo.jpg"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Mr Fidelis N. K. Yiryuo</a></h4>
            <span>Recruitment</span>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/2021-06/Bright%20Asante.jpg"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Bright Asante</a></h4>
            <span>Data Analyst</span>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="single-team-inner">
          <div class="thumb">
            <img
              src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/2021-06/Shadrach%20Korsah.jpg"
              alt="img"
            />
          </div>
          <div class="details">
            <h4><a href="#">Shadrach Korsah</a></h4>
            <span>Alumni Coordinator</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- team area end -->

<!--blog-area start-->
<div class="blog-area pd-top-80 pd-bottom-90">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-7">
        <div class="section-title text-center">
          <h6 class="sub-title double-line">Latest News</h6>
          <h2 class="title">Our Insights & Articles</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <ul class="single-blog-list-wrap mb-5 mb-lg-0">
          <li>
            <div class="media single-blog-list-inner">
              <div class="media-left date">
                <span>JAN</span>
                20
              </div>
              <div class="media-body details">
                <ul class="blog-meta">
                  <li><i class="fa fa-user"></i> BY ADMIN</li>
                  <li><i class="fa fa-folder-open-o"></i> News</li>
                </ul>
                <h5>
                  <a href=" {% static 'blog-details.html' %} "
                    >MCFSP at KNUST has Presented Assistive Devices to Scholars
                    with Impairment</a
                  >
                </h5>
              </div>
            </div>
          </li>
          <li>
            <div class="media single-blog-list-inner">
              <div class="media-left date">
                <span>FEB</span>
                26
              </div>
              <div class="media-body details">
                <ul class="blog-meta">
                  <li><i class="fa fa-user"></i> BY ADMIN</li>
                  <li><i class="fa fa-folder-open-o"></i> News</li>
                </ul>
                <h5>
                  <a href=" {% static 'blog-details.html' %} "
                    >Health Screening Programme for Mastercard Foundation
                    Scholars at KNUST Organised</a
                  >
                </h5>
              </div>
            </div>
          </li>
          <li>
            <div class="media single-blog-list-inner">
              <div class="media-left date">
                <span>JAN</span>
                28
              </div>
              <div class="media-body details">
                <ul class="blog-meta">
                  <li><i class="fa fa-user"></i> BY ADMIN</li>
                  <li><i class="fa fa-folder-open-o"></i> News</li>
                </ul>
                <h5>
                  <a href=" {% static 'blog-details.html' %} "
                    >Mastercard Foundation Scholars Commission a Six (6) Unit
                    Classroom Block at Agona Wiamoase
                  </a>
                </h5>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-8">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="single-blog-inner">
              <div class="thumb">
                <img
                  src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/2022-02/Mentors%20and%20Mentees%20Welcome%20Program.jpg"
                  alt="img"
                />
                <span class="date">28 JANUARY, 2022</span>
              </div>
              <div class="details">
                <ul class="blog-meta">
                  <li><i class="fa fa-user"></i> BY ADMIN</li>
                  <li><i class="fa fa-folder-open-o"></i> News</li>
                </ul>
                <h5>
                  <a href=" {% static 'blog-details.html' %} "
                    >WiSTEM-KNUST/MCFSP at KNUST Holds Mentors and Mentees
                    Welcome Programme</a
                  >
                </h5>
                <a
                  class="read-more-text"
                  href=" {% static 'blog-details.html' %} "
                  >READ MORE <i class="fa fa-angle-right"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="single-blog-inner">
              <div class="thumb">
                <img
                  src="https://mcf.knust.edu.gh/sites/mcf.knust.edu.gh/files/2021-09/MCFSP%20at%20KNUST%20Equips%20Scholars%20with%20Hands-On%20Skills%20for%20the%20World%20of%20Work.jpg"
                  alt="img"
                />
                <span class="date">30 JANUARY, 2022</span>
              </div>
              <div class="details">
                <ul class="blog-meta">
                  <li><i class="fa fa-user"></i> BY ADMIN</li>
                  <li><i class="fa fa-folder-open-o"></i> News</li>
                </ul>
                <h5>
                  <a href=" {% static 'blog-details.html' %} "
                    >MCFSP at KNUST Equips Scholars with Hands-On Skills for the
                    World of Work</a
                  >
                </h5>
                <a
                  class="read-more-text"
                  href=" {% static 'blog-details.html' %} "
                  >READ MORE <i class="fa fa-angle-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--blog-area end-->

<!--contact-area start-->
<div
  class="contact-area bg-overlay mt-200 pd-bottom-90"
  style="background-image: url(' {% static 'assets/img/banner/2.png' %} ')"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <form class="contact-form-inner mt-mn-200 style-shadow">
          <div class="section-title">
            <h2 class="title">Contact Us</h2>
            <p>We will be happy to answer your questions.</p>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="single-input-inner">
                <input type="text" placeholder="Full name" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="single-input-inner">
                <input type="text" placeholder="Phone Number" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="single-input-inner">
                <input type="text" placeholder="Email Address" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="single-input-inner">
                <input type="text" placeholder="Subject" />
              </div>
            </div>
            <div class="col-12">
              <div class="single-input-inner">
                <textarea placeholder="Your Message"></textarea>
              </div>
            </div>
            <div class="col-sm-6 align-self-center">
              <div class="single-input-inner style-checkbox"></div>
            </div>
            <div class="col-sm-6 text-sm-right">
              <a class="btn btn-base" href="#">Send Message</a>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-4 align-self-end">
        <div class="mt-5 mt-lg-0">
          <ul class="single-list-wrap">
            <li class="single-list-inner style-white style-check-box-grid-2">
              <div class="media">
                <div class="media-left">
                  <img
                    src=" {% static 'assets/img/icon/16.png' %} "
                    alt="img"
                  />
                </div>
                <div class="media-body align-self-center">
                  <h5>Our Address</h5>
                  <p>J. Harper Centre Commercial Area</p>
                  <p>KNUST</p>
                </div>
              </div>
            </li>
            <li class="single-list-inner style-white style-check-box-grid-2">
              <div class="media">
                <div class="media-left">
                  <img
                    src=" {% static 'assets/img/icon/17.png' %} "
                    alt="img"
                  />
                </div>
                <div class="media-body align-self-center">
                  <h5>Our Phone</h5>
                  <p>+233 3223 98766</p>
                  <p>+233 206 030 790</p>
                </div>
              </div>
            </li>
            <li class="single-list-inner style-white style-check-box-grid-2">
              <div class="media">
                <div class="media-left">
                  <img
                    src=" {% static 'assets/img/icon/18.png' %} "
                    alt="img"
                  />
                </div>
                <div class="media-body align-self-center">
                  <h5>Our Email</h5>
                  <p>mcfsecretariat@knust.edu.gh</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--contact-area end-->
{% endblock content %}
