{% extends 'base.html' %} {% block content %} {% load static %}

<!-- blog area start -->
<div class="blog-area pd-top-120 pd-bottom-120">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="td-sidebar">
          <div class="widget widget-recent-post">
            <!-- <h4 class="widget-title">Recent News</h4> -->
            <ul>
              {% for i in data %}
              <li>
                <div class="media">
                  <div class="media-left">
                    <img src="{{ i.img.url }}" alt="blog" />
                  </div>
                  <div class="media-body align-self-center">
                    <h5 class="title">
                      <a href="#">{{ i.title }}</a>
                    </h5>
                    <p>{{ i.info }}</p>
                    <div class="post-info">
                      <i class="fa fa-calendar"></i
                      ><span>{{ i.date_published }}</span>
                    </div>
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>

          <!-- <div class="widget widget_tags mb-0">
                            <h4 class="widget-title">Tags</h4>
                            <div class="tagcloud">
                                <a href="#">Art</a>
                                <a href="#">Creative</a>
                                <a href="#">Article</a>
                                <a href="#">Designer</a>
                                <a href="#">Portfolio</a>
                                <a href="#">Project</a>
                                <a href="#">Personal</a>
                                <a href="#">Landing</a>
                            </div>
                        </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- blog area end -->
{% endblock content %}
