{% extends 'base.html' %} {% block content %} {% load static %}

<!-- blog area start -->
<div class="blog-area pd-top-120 pd-bottom-120">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="blog-details-page-content">
          <ul>
            {% for i in data %}
            <li>
              <a href="{{ i.url_to_file }}"><strong>{{ i.title }}</strong></a>
            </li>
            {% endfor %}
          </ul>

          <div class="files-container"></div>
        </div>
      </div>
      <div class="col-lg-3 col-12">
        <div class="td-sidebar">
          <div class="widget widget_search">
            <form class="search-form">
              <div class="form-group">
                <input type="text" placeholder="Search" />
              </div>
              <button class="submit-btn" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- blog area end -->
{% endblock content %}
